<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li [class.active]="getLinkStyle('')"><a [router-link]="['/home']" class="link">Home</a></li>
                    <li [class.active]="getLinkStyle('about/some-id')"><a [router-link]="['/about',{'id':'some-id'}]" class="link">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>